<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<div id=countdown class="ui-pnotify ui-pnotify-shadow" aria-live="assertive" style="margin-top;left:1%;opacity: 10; display: block; overflow: visible; cursor: auto;"></div>

<div class="alert" id="fr"></div>
<div  id="msg"></div>

<script>


var start=false;
var xhr = new XMLHttpRequest()



xhr.open('GET', "https://ssl.gkolozof.xyz/0/ver.php",true);
xhr.onreadystatechange = function ()
{
  if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) 
	 {
		document.getElementById("fr").innerHTML=xhr.responseText;
		xhr.open('GET', "https://ssl.gkolozof.xyz/0/int.php",true);
		xhr.onreadystatechange = function () { if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) document.getElementById("msg").innerHTML=xhr.responseText; }
		xhr.send();
	}
}
xhr.send();









</script>



