
<script>
 var start=false;
 lng=navigator.language||navigator.userLanguage;
 if (lng != 'it') lng='en';
 msg='<object type="text/html" data="/plugin/ZERO/static/int-'+lng+'.html" width=100% height=100% frameborder="0" scrolling="no"></object>';
 MK='<div class="alert"><iframe name=frame class="alert alert-info ui-pnotify-shadow" src="http://gkolozof.xyz:5000/marlinkimbra/configurator/v4_3_5/firmware_configurator.php?lingua='+lng+'" frameborder="0" scrolling="yes" allowfullscreen  style="left:25%;top:2%;position: fixed; display: block;background-color: white; background-color: #fff; border: 1px solid #999;width: 70%; height: 85%; zoom: 0; -moz-transform: scale(55); -moz-transform-origin: 0 0;"></iframe></div>';
</script>

<div id=countdown class="ui-pnotify ui-pnotify-shadow" aria-live="assertive" style="margin-top;left:1%;opacity: 10; display: block; overflow: visible; cursor: auto;"></div>

 <script>document.write(MK)</script>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
 <div class="ui-pnotify" aria-live="assertive" style="top:11%;left: 20%; opacity: 1; display: block; overflow: visible; cursor: auto;">
 <div class="alert alert-info ui-pnotify-shadow" role="alert" style="overflow: hidden; height: 100%;">
  <button type="button" class="close" data-dismiss="alert" style="color:red;" onclick='start=true;'>[X]</button>
  <script>document.write(msg)</script>
</div></div>

