
<div id="ZERO" class="modal hide fade">
    <div class="modal-body">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<font size="3"><b>Octoprint Zero requires avrdude, allow to install?</font>
    </div>   
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: avrOK">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-danger" data-bind="click: install_avr">{{ _('Proceed') }}</a>
    </div>
</div>

